body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sections{
    padding: 20px 0;
}
.overlay{
    position: absolute;
    top: 0;

   width: 100%;
   height: 100%;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 200;
}

/* header */
.sticky{
    background-color: black;
    color: #fff;
}
.sticky a{
    color: #fff;
}
header{
    height: auto;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
    
   
}
 header .fa-bars{
    position: absolute;
    right: 26px;
    top: 22px;
    cursor: pointer;
    line-height: .1;
}

header .logo h2{
    font-size: 36px;
    color: #fff;

}
header nav .nav-list{
    list-style: none;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav .nav-list .list a{
    color: rgb(17, 16, 16);
    display: flex;
    padding: 15px 0;
    margin: 9px 0;
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: #fff;
    font-size: 19px;


}
header nav .nav-list .list a:hover{
    color:#7cb62f ;

}

.ah{
    height: 50000px;
}



/* home section */
.home{
    height: 700px;
    background-image: url('../Images/skill-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.home-title{
    color: #fff;
    font-size: 45px;
    margin-bottom: 30px;

}
.home .home-desc{
    color: #EEE;
    font-size:18px;
}
.home .button{
    background-color: #7cb62f;
    width: 150px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

/* start about */
.section-title{
    font-size: 40px;
    text-transform: uppercase;
}
.line{
    width: 150px;
    background: black;
    height: 2px;
    margin: auto;
    text-align: center;
}
.line span{
    display: block;
    width: 100px;
    height:7px;
    background-color: #7cb62f;
    margin: auto;
    position: relative;
    bottom: 5px; 
    
}


.section-header p{
    width: 50%;
    margin: 10px auto;
    color: #888;
    line-height: 1.8;
}

/* about */
.about .about-info h3{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about .about-info h3 span{color: #7cb62f;}
.about .about-info .about-info-desc{
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 10px;

    columns: #888;
}
.about .about-info .about-info-btn{
    background-color: #7cb62f;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    font-weight: bold;
}
.about .about-img img{width: 100%;
height: 100%;}

/* services */
.services{
    background-color: #f7f7f7;
}
.services .serv{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
    transition: all .5s ease-in-out;

}
.services .serv i.fa{
    background-color: #7cb62f;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 33px;
    padding: 15px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #f6f6f6;



}
.services .serv-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}
.services .serv:hover{
    background-color: #7cb62f;
    cursor: pointer;
}
.services .serv:hover i.fa{
    background-color: #fff;
    color: #7cb62f;
}

.services .serv:hover .serv-title,
.services .serv:hover .serv-desc
{
    color: #fff;
}


/* start stat */
.stat{
    background: url('../Images/lap-stat.jpg') no-repeat center center fixed;
    height: 200px;
    position: relative;
    background-size: cover;
}
.stat .stat-info i.fa ,.stat .stat-info span{display: block;
padding: 5px;}
.stat .stat-info{
    margin: 40px 0;
text-align: center;
    
}

.stat .stat-info i.fa {
    background-color: #7cb62f;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin: 10px auto;
}
.stat .stat-info span {
    display: block;
    padding: 5px;
    color: #fff;
    font-size: 19px;
    font-family: monospace;
}
.stat .stat-info {
    margin: 40px 0;
    text-align: center;
    font-size: large;
    color: #fff;
}
.stat .stat-info .timer{
font-weight: bold;
font-size: 22px;}

/* end stat */
/* start portfolio*/
.portfolio .buttons button{
    width: 180px;
    height: 40px;
    border: none;
    background: #000;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;

}
.portfolio .images img{
    height: 280px;
    margin-top: 20px;
}

.portfolio .more{
    width: 250px;
    padding: 10px;
    background-color: #666;
    color: #fff;
    display: block;
    margin: 30px auto;
}
.active-btn ,.c-left .active{
    background: #7cb62f!important;
}

/* end portfolio */
/*start  EXPERT*/
.expert{
    background-color:#4c4c4c;
}
.expert .section-title{
    margin-top: 20px;
}
.expert .progress{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    background: none;
    box-shadow: none;
    margin: 20px auto;
    position: relative;
    padding-bottom: 30px;
}

.expert .progress>span{
    position: absolute;
    top: 0;
    color: #f6f6f6;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 2;

}
.expert .progress .progress-val{
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: 0%;
    left: 5%;
    background-color: #44489b;
    z-index: 2;
    color: #fff;
    font-size: 25px;
    line-height: 130px;
    text-align: center;

}
.expert .progress  .progress-left{
    left: 0;

}
.expert .progress  .progress-left{
    right: 0;

}
.expert .progress  .progress-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border-width: 10px;
    border: solid;

}
.expert .progress  .progress-bar{
    border-color:#049dff ;
}
.expert .progress .yello  .progress-bar{
    border-color:#049dff ;
}
/* owl */
.owll .item {
    padding-top: 15px;
    margin-bottom: 35px;
}
.owll .item .headowl{
    background-color: #000;
    color: #fff;
    text-align: center;
}
.owll .item .headowl h4{
    margin-top: 0;
    font-size: 23px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    margin: 0;
}
.owll .item .headowl p{
    font-size: 18px;
    padding: 5px;
    background-color: #fff;
    color: #000;
    margin: 0;
}
.owll .item .headowl i{
    font-size: 17px;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 312123333;
    position: relative;

    
}
.owll .item .headowl .icons{
    position: relative;
}
.owll .item .headowl  .icons .back{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background-color: #7cb62f;
    z-index: 22;
    transition: all .7s;
}
.owll .item .headowl  .icons:hover i{
    color: #000;
    z-index: 312123333;
}

.owll .item .headowl  .icons:hover .back{
    width: 100%;
    
}


@keyframes load1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(180deg);
    }
}

@keyframes load2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(144deg);
    }
}

@keyframes load1{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(45deg);
    }
}



/* end EXPERT */



/* pricing */
.pricing .plan{
    margin-top: 30px;
    background-color: rgb(189, 183, 183);
}

.pricing .plan .head{
    width: 100%;
    height:auto;
    background-color: rgb(61, 61, 61);
    color: #fff;
    transition: all .7s ease-in-out;
}
.pricing .plan:hover{
    transform: rotate(2deg);
    transform: translateY(5px);
}
.pricing .plan:hover .head,
.pricing .plan:hover .fot    {
 background-color: #7cb62f;
}
.pricing .plan .head> span{
    display: block;
    margin: auto;
    text-align: center;
}
.pricing .plan .head> span:first-child{
    font-size: 30px;
    padding-top: 8px;
}
.pricing .plan .head> span:last-child{
    font-size: 20px;
    padding-bottom: 10px;
}


.pricing .plan .storage {
    text-align: center;
}
.pricing .plan .storage h3{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 10px;
    border-bottom: 3px solid #eee;

}

.pricing .plan .storage .size li{
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;

}
.pricing .plan .fot{
    background-color: rgb(61, 61, 61);
    text-align: center;
    color: #fff;
    transition: all .7s ease-in-out;

}
.pricing .plan .fot h3{
    font-size: 23px;
    padding: 15px 0;
    
}
/* start choose */
.choose .c-left {
    padding: 0;
    margin: 0;
}
.choose .c-left ul {    display: flex;margin: 0;padding: 0;     background-color: black;
}
.choose .c-left ul li{
  padding: 15px 20px;
    color: #fff;
    cursor: pointer;
}
.choose .content .con {
    background-color: #fff;
    border: 1px solid #44489b23;
}
.choose .content .con img{
    width: 34%;
    float: left;
    padding: 10px;
}
.choose .content  .content2,
.choose .content  .content3
{
    display: none;
}
.choose  .c-right {
    position: relative;
    color: #eee;
   
}
.choose  .video{
  padding:80px 0;
   text-align: center
   ;
background-image: url('../Images/v.jpg');
background-size: cover;

}
.choose  .video i{
    background-color: brown;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    cursor: pointer;

}
.choose  .video p{
    padding: 10px;
    color: antiquewhite;
}

/* end choose */


/* pleasure */
.pleasure{
    background-color: #000;
    color: #fff;
height: auto;
padding-top: 15px;
padding-bottom: 15px;

}
.slick i{
    color: #7cb62f;
  font-size: 50px;
  padding: 30px;
}
.slick .desc{
    color: rgb(136, 132, 132);
    font-size: 16px;
    font-weight: 600;
}
.slick .text{
    color: #d8d1d1;
    font-weight: 800;
    font-size: 21px;
    margin-bottom: 35px;
}
.slick button {
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    margin: 15px;
    padding: 10px 15px;
    background: transparent;
    line-height: inherit;
    border: 1px solid rgb(75, 73, 73);
    color: red;
}




/* next */
.next{
    background-color: #7cb62f;
    color: #fff;
    padding-top: 20px;
    margin: 0;

}
.next p{
font-size: large;
display: flex;
justify-content: start;
padding-top: 30px;}
.next h3{
    background-color: black;
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 2px;
}
.next h3:hover{background-color: rgb(44, 44, 44);
color: #eee;}

.contact .contact-info2 {
    padding-top: 25px;
    margin-bottom: 25px;
}
.contact .contact-info2 span .fa{
    display: block;
    padding-top: 35px;
    font-size: 25px ;
}
.contact .mapouter{
    width: 30px;
}



























@media (max-width:991px){
    .stat{
        height: 740px;
    }
   
@media (max-width:575px), (max-width:991px){
    header{background: black;
    color: #fff;}
    header nav .nav-list{
        text-align: center;
        padding: 0;
        
        display: none;
        cursor: pointer;
        
        
    }
    .plan{
        margin: 10px 15px;
    }
   
    header .logo {
       text-align: center;
    }
    .home-title{
        color: #fff;
        font-size: 25px;
        margin-bottom: 20px;
    
    }
    .home .button{
        
    margin: 5px;        
        
    }
    header nav .nav-list  {
       background-color: black;
       width: 170px;
       text-align: center;
       margin: 0 auto;
       padding-left: 50px;
    
    
    }
    header nav .nav-list a{
        padding-left: 50px;
    } 
    /* section about */
    .contact{
        padding-top: 45px;
    }
    .section-header p{
        width: 80%;
        font-size: 25px;
    }
    .about .about-info {
        text-align: center;
       
    }
    .about .about-info h3{
        font-size: 25px;
        font-weight: 200;
        margin-bottom: 15px;

    }

    

}




